:root {
  --logo-lightness: 60%;
  --logo-color: hsla(21, 100%, var(--logo-lightness), 1);
  --clr-bgr: hsla(21, 100%, calc(var(--logo-lightness) - 56%), 1);
}

body {
  background-color: var(--clr-bgr);
  color: white;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  font-family: "Cinzel", sans-serif;
  letter-spacing: 0.2rem;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.logo-container {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  aspect-ratio: 1 / 1.25;
}

.logo {
  position: relative;
  perspective: 4em;
  padding: 2rem;
}

.logo::before {
  content: "";
  background-color: var(--logo-color);
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  height: 10%;
  z-index: -1;
  transform: rotateX(30deg) scale(1, 0.25);
  filter: blur(2.5em);
  opacity: 0.7;
}

.svg-glow {
  fill: var(--logo-color);
  filter: drop-shadow(0 0 10px var(--logo-color))
    drop-shadow(0 0 5px var(--logo-color));
}

.svg-logo {
  fill: black;
}

.button-row {
  font-size: 1rem;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  margin: 2em;
}

.button {
  font-size: 2em;
  cursor: pointer;
  height: 1.5em;
  line-height: 1em;
  box-sizing: border-box;
  background-color: black;
  border: 0.0625em solid;
  border-color: var(--logo-color);
  border-radius: 0.25em;
  padding: 0.25em;
  font-weight: medium;
  position: relative;
  color: var(--logo-color);
  transition: all 50ms ease-in-out;
  filter: drop-shadow(0 0 0.0625em var(--logo-color));
  text-shadow: 0 0 0.0625em var(--clr-bgr);
}

.button a {
  text-decoration: none;
  color: unset;
}

.button::after {
  cursor: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--logo-color);
  z-index: -1;
  transform: rotateX(40deg) scale(1, 0.45);
  filter: blur(1.5em);
  opacity: 0.7;
  transition: all 50ms ease-in-out;
}

@media (hover: hover) {
  .button:hover {
    background: var(--logo-color);
    color: var(--clr-bgr);
    text-shadow: none;
  }

  .button:hover::after {
    height: 120%;
    width: 120%;
    left: -10%;
    transform: rotateX(40deg) scale(1, 0.85);
    filter: blur(2em);
    opacity: 1;
  }
}

.button:active,
.button:focus-visible {
  background: var(--logo-color);
  color: var(--clr-bgr);
  text-shadow: none;
  /* font-weight: bolder; */

  /* letter-spacing: -0.05em; */
}

.button:active::after,
.button:focus-visible::after {
  height: 120%;
  width: 120%;
  left: -10%;
  transform: rotateX(40deg) scale(1, 0.85);
  filter: blur(2em);
  opacity: 1;
}
